@font-face {
  font-weight: 400;
  font-family: "Graphik LC";
  src: url("../fonts/GraphikRegular.otf");
}

@font-face {
  font-weight: 600;
  font-family: "Graphik LC";
  src: url("../fonts/Graphik-Semibold.ttf");
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: 'Open Sans';
}

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

input a {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.container {
  width: 1440px;
  margin: 0 auto;
  outline: 1px solid red;
  padding-left: 75px;
  padding-right: 75px;
}

/* header */

.header {
  padding: 25px 20px;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.header-container {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 51px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 57px;
}

.nav-link {
  font-family: "Graphik LC";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
  color: #000000;
}

.header-buttons {
  margin-left: auto;
}

.header-btn {
  min-width: 120px;
  padding: 1px 36px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: "Graphik LC";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.81;
  letter-spacing: 0em;
  text-align: center;
}

.header-btn:hover {
  border: none;
  background: #ff6336;
  color: white;
  border: 1px solid #ffffff;
}


/* hero  */

.hero>.container {
  padding-top: 115px;
  padding-bottom: 182px;
  display: flex;
}


.hero-header {
  font-family: "Graphik LC";
  font-size: 65px;
  font-weight: 600;
  line-height: 1.16;
  margin-bottom: 51px;
}

.hero-desc {
  font-family: "Graphik LC";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 51px;
  max-width: 470px;
}

.hero-desc-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.hero-btn {
  min-width: 160px;
  padding: 0px 29px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: "Graphik LC";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.81;
  letter-spacing: 0em;
  text-align: center;
}

.hero-btn:hover {
  border: none;
  background: #ff6336;
  color: white;
  border: 1px solid #ffffff;
}

.hero-remark {
  font-family: "Graphik LC";
  font-size: 15px;
  font-weight: 400;
  line-height: 0.6;
  letter-spacing: 0em;
  text-align: left;
}


/* companies list */

.companies>.container {
  padding-top: 98px;
  padding-bottom: 94px;
  background: rgba(255, 156, 125, 1);
  ;
}

.companies-header {
  font-family: "Graphik LC";
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
}

.companies-list {
  display: flex;
  justify-content: center;
  gap: 103px;
}


/* advantages */

.advantages>.container {
  padding-top: 100px;
  padding-bottom: 150px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 250px;
}

.advantages-item {
  display: flex;
  gap: 138px;
}

.advantages-item:nth-child(even) {
  flex-direction: row-reverse;
}

.advantages-item-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.advatages-header {
  font-family: "Graphik LC";
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}

.advantages-desc {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
}

.advantages-link {
  font-family: "Graphik LC";
  color: rgba(0, 0, 0, 1);

  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
}


/* ways */

.ways>.container {
  padding-top: 93px;
  padding-bottom: 120px;
  background: rgba(255, 248, 228, 1);

}

.ways-header {
  font-family: "Graphik LC";
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;
  margin-bottom: 58px;
}

.ways-list {
  display: flex;
  padding: 0 40px 57px 40px;
  gap: 110px;
  flex-wrap: wrap;
}

.ways-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  width: calc((100% - 220px - 80px) / 3);
}

.ways-item-header {
  font-family: "Graphik LC";
  font-size: 25px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0em;
}

.ways-item-desc {
  font-family: "Graphik LC";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0em;
  text-align: center;
}

/* team */

.team>.container {
  padding-top: 154px;
  padding-bottom: 120px;
}

.team-header {
  font-family: "Graphik LC";
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 25px;
}

.team-list {
  display: flex;
  font-display: row;
}

.team-item {
  width: calc(100%/3);
}


.team-header {
  font-family: "Graphik LC";
  font-size: 30px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: left;
}

.team-desc {
  font-family: "Graphik LC";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
}

.team-link {
  font-family: "Graphik LC";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
}