@font-face {
  font-weight: 400;
  font-family: "Graphik LC";
  src: url("../fonts/GraphikRegular.otf");
}

@font-face {
  font-weight: 600;
  font-family: "Graphik LC";
  src: url("../fonts/Graphik-Semibold.ttf");
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: 'Open Sans';
}

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

input a {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.container {
  width: 1420px;
  margin: 0 auto;
  outline: 1px solid red;
  padding-left: 40px;
  padding-right: 40px;
}

/* header */

.header {
  padding: 25px 20px;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.header-container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 51px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 57px;
}

.nav-link {
  font-family: "Graphik LC";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
  color: #000000;
}

.header-buttons {
  margin-left: auto;
}

.header-btn {
  min-width: 120px;
  padding: 1px 36px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: "Graphik LC";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.81;
  letter-spacing: 0em;
  text-align: center;
}

.header-btn:hover {
  border: none;
  background: #ff6336;
  color: white;
  border: 1px solid #ffffff;
}


/* hero  */

.hero>.container {
  padding-top: 115px;
  padding-bottom: 182px;
  display: flex;
}


.hero-header {
  font-family: "Graphik LC";
  font-size: 65px;
  font-weight: 600;
  line-height: 1.16;
  margin-bottom: 51px;
}

.hero-desc {
  font-family: "Graphik LC";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 51px;
  max-width: 470px;
}

.hero-desc-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.hero-btn {
  min-width: 160px;
  padding: 0px 29px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: "Graphik LC";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.81;
  letter-spacing: 0em;
  text-align: center;
}

.hero-btn:hover {
  border: none;
  background: #ff6336;
  color: white;
  border: 1px solid #ffffff;
}

.hero-remark {
  font-family: "Graphik LC";
  font-size: 15px;
  font-weight: 400;
  line-height: 0.6;
  letter-spacing: 0em;
  text-align: left;
}